body {
background-color: #CED4D6;
}

.site {
width: 60%;
background-color: white;
margin-left: 20%;
margin-right: 20%;
}

div.menu {
border-bottom: #ff704d 5px;
border-style: solid;
border-top: none;
border-left: none;
border-right: none;
width: 90%;
margin-left: 5%;
margin-top: 5%;
padding-top: 5%;
padding-bottom: 1em;
}

.menu ul{
list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
}

.menu li {
font-family: 'Playfair Display', serif;
color: #ff704d;
display: inline;
padding: 0 2em 0 0;
}

li:last-child {
padding: 0;
}

.menu a {
text-decoration: none;
}

.subhead {
text-align: center;
font-family: 'Lato', sans-serif;
}

div.homecontent {
padding: 5%;
}

div.project {
padding-bottom: .25em;
}

.tag {
font-size: 1em;
color: #848A8C;
margin: 0;
line-height: 0;
}

.footer {
margin-top: 5%;
border-top: 1px solid #ff704d;
}

h1 {
font-family: 'Playfair Display', serif;
text-align: center;
margin: 0;
}

h2 {
font-family: 'Playfair Display', serif;
margin-top: 5%;
padding-bottom: .5em;
border-bottom: 1px solid #ff704d;
}

h3 {
font-family: 'Lato', sans-serif;
color: #ff704d;
font-size: 1em;
padding-top: 1em;
}

p {
font-family: 'Lato', sans-serif;
}

a {
font-family: 'Lato', sans-serif;
text-decoration: none;
color: #ff704d;
}

a:hover {
text-decoration: underline;
}

@media only screen and (min-width: 361px) and (max-width: 980px) {

.site {
width: 80%;
margin-left: 10%;
margin-right: 10%;
}

}

@media only screen and (max-width: 360px) {

.site {
width: 90%;
margin-left: 5%;
margin-right: 5%;
}

.menu li {
display: inline;
padding: 0 1em 0 0;
}

h2 {
text-align: center;
}

.tag {
line-height: normal;
}

}