body {
background-color: #ffff99;
}

.site {
width: 60%;
background-color: white;
margin-left: 20%;
}

div.menu {
border-bottom: #ff704d 5px;
border-style: solid;
border-top: none;
border-left: none;
border-right: none;
width: 90%;
margin-left: 5%;
padding-top: .75em;
padding-bottom: .75em;
}

.menu ul{
list-style-type: none;
margin: 0;
padding-top: .5em;
}

.menu li {
font-family: 'Playfair Display', serif;
color: #ff704d;
display: inline;
padding: 0 2em 0 0;
}

.menu a {
text-decoration: none;
}

.subhead {
text-align: center;
font-family: 'Lato', sans-serif;
}

div.homecontent {
padding-left: 5%;
padding-right: 5%;
padding-top: 5%;
}

div.project {
padding-bottom: .25em;
}

.tag {
/*float: left;*/
/*padding-left: 2em;*/
font-size: 1em;
color: #848A8C;
margin: 0;
line-height: 10%;
}

/*.descrip {
clear: both;
}*/

.footer {
margin-top: 5%;
padding-bottom: 5%;
border-top: 1px solid #ff704d;
}

h1 {
font-family: 'Playfair Display', serif;
text-align: center;
}

h2 {
font-family: 'Playfair Display', serif;
}

h3 {
font-family: 'Lato', sans-serif;
color: #ff704d;
font-size: 1em;
padding-top: 1.5em;
/*float: left;*/
}

p {
font-family: 'Lato', sans-serif;
}

a {
font-family: 'Lato', sans-serif;
text-decoration: none;
color: #ff704d;
}

a:hover {
text-decoration: underline;
}

